<section class="container">
<h1>Hogwarts</h1>

<div class="section">
<ul class="collection with-header">
  <h2 class="collection-header">All Subjects</h2>
<%@all_subjects.each do |subj|%>
  <li class="collection-item"><%= link_to subj, subject_path(subj) %></li>
<%end%>
</ul>
<%= link_to 'Add New Subject', new_subjects_path, class: "waves-effect waves-light btn" %>
</div>

<div class="section">
<ul class="collection with-header">
  <h2 class="collection-header">All Teachers</h2>
<%@all_teachers.each do |teacher|%>
  <li class="collection-item">
    <div class="row">
      <div class="col s6"><%= link_to teacher[:name], teacher_path(teacher[:id]) %></div>
      <div class="col s6"><%= link_to 'Edit Teacher Name', teachers_edit_path(teacher[:id]), class: "yellow lighten-3 black-text btn" %></div>
    </div>
  </li>
<%end%>
</ul>
<%= link_to 'Add New Teacher', new_teachers_path, class: "waves-effect waves-light btn" %>
</div>

<div class="section">
<ul class="collection with-header">
  <h2 class="collection-header">All Students</h2>
<%@all_students.each do |student|%>
  <li class="collection-item">
    <div class="row">
    <div class="col s6"><%= link_to student[:name], student_path(student[:id]) %></div>
    <div class="col s6"><%= link_to 'Edit Student Name', students_edit_path(student[:id]), class: "yellow lighten-3 black-text btn" %></div>
    </div>
  </li>
<%end%>
  <li class="collection-item">
    <div class="row">
    <div class="col s6 cedric">
    Cedric Diggory
    </div>
    </div>
  </li>
</ul>
<%= link_to 'Add New Student', new_students_path, class: "waves-effect waves-light btn" %>
</div>

</section>